<mat-toolbar color="primary">
    <h1>Miahoot</h1>
    <ng-container *ngIf="user | async as U; else unlogged">
        <div class="toolbar">
            {{U.name}}
        </div>
        <button id="ppButton" [matMenuTriggerFor]="menu"><img id="pp" referrerpolicy="no-referrer" [src]="U.photoUrl"/></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item ><a routerLink="accountConfig">My Account</a></button>
            <button mat-menu-item (click)="logout()">Log out</button>
          </mat-menu>
    </ng-container>

    <ng-template #unlogged>
        <button id="signInButton" (click)="login()" mat-raised-button color="accent"> login with google</button>
    </ng-template>
</mat-toolbar>

<mat-progress-spinner *ngIf="bsIsAuth | async" mode="indeterminate"></mat-progress-spinner>

<router-outlet></router-outlet>