#pp {
    border-radius: 50%;
    width: 100%;
    }

.toolbar{
    margin-left: auto;
    margin-right: 5px;
}

.toolbar button{
    margin-bottom: 50%;
    margin-top: 50%;
    margin-right: 5px;
}

#signInButton {
    margin-left: auto;
    margin-right: 0;
}

#ppButton {
    background-color: transparent;
    width: 50px;
    border-color: transparent;
}