<mat-toolbar color="primary">
    <h1>Miahoot</h1>
    <ng-container *ngIf="user | async as U; else unlogged">
        <div class="toolbar">
            <button (click)="logout()" mat-raised-button color="accent">Log Out</button>
            {{U.displayName}}
        </div>
        <img id="pp" [src]="U.photoURL"/>
    </ng-container>

    <ng-template #unlogged>
        <button id="signInButton" (click)="login()" mat-raised-button color="accent"> login with google</button>
    </ng-template>
</mat-toolbar>

<mat-progress-spinner *ngIf="bsIsAuth | async" mode="indeterminate"></mat-progress-spinner>

<router-outlet></router-outlet>